<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Isim</label>
        <input
          type="text"
          class="form-control"
          (input)="OnNameChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label> <b>Isim</b> </label>
      <div [ngClass]="!name ? 'd-none' : ''">
        titlecase={{ name | titlecase }}
      </div>
      <div [ngClass]="!name ? 'd-none' : ''">
        uupercase={{ name | uppercase }}
      </div>
      <div [ngClass]="!name ? 'd-none' : ''">
        lowercase={{ name | lowercase }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Tarih</label>
        <input
          type="date"
          class="form-control"
          (input)="OnDateChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label> <b>Tarih</b> </label>
      <div [ngClass]="!date ? 'd-none' : ''">
        longDate={{ date | date: "longDate" }}
        <br>
        equivalent longDate={{ date | date: "MMMM d, y" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Tutar</label>
        <input
          type="text"
          class="form-control"
          (input)="OnMoneyChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label> <b>Tutar</b> </label>
      <div [ngClass]="!money ? 'd-none' : ''">
        EUR={{ money | currency:"EUR" }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Boy</label>
        <input
          type="text"
          class="form-control"
          (input)="OnHeightChange($event.target.value)"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label> <b>Boy</b> </label>
      <div [ngClass]="!height ? 'd-none' : ''">
        decimal={{ height | number:'1.1-4' }}
      </div>
    </div>
  </div>
</div>
