<div class="divHome">
  <div class="width50">
    <button mat-raised-button color="primary"  routerLink="/create" > Yeni Yazi Olustur</button>
    <mat-card  *ngFor="let item of articleData; let i = index" class="cardHome">
      <mat-card-content>
        <div [routerLink]="'/view/'+i">
          <h1>{{ item.title }}</h1>
          <p>
            <span class="authorStyle">Yazar:</span>
            {{ item.author }}
          </p>
          <p [innerHtml]="item.content"></p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
