<div class="viewDiv">
  <mat-card class="width50" >
    <mat-card-content >
      <h1>{{articlesData[articleIndex].title}} </h1>
      <p [innerHtml]="articlesData[articleIndex].content"> </p>
      <div class="font18">
        <span class="fontBold">Yazar:</span>
        {{articlesData[articleIndex].author}}
        <hr>
      </div>
      <div *ngFor="let item of articlesData[articleIndex].comments" class="articleDiv" >
        <div>
          <span class="userStyle" ><strong>User:</strong>   {{item.username}} </span>
        </div>
        <div>
          <span><strong>Comment:</strong> {{item.comment}}</span>
        </div>
      </div>
      <div class="formDiv">
        <mat-form-field>
          <mat-label>Kullanici Adi</mat-label>
          <input matInput [(ngModel)]="username" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Yorum</mat-label>
          <input matInput [(ngModel)]="comment" />
        </mat-form-field>
      </div>

    </mat-card-content>
    <mat-card-actions >
      <button  class="width100" mat-raised-button color="primary" (click)="addComment()" >Yorum Yap</button>
    </mat-card-actions>
  </mat-card>
</div>
