table {
  width: 100%;
  max-width: 450px;
}
.inputDiv{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.tableDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableDiv h3{
  font-size: 20px;
  font-weight: 500;
}
